[user]
	name = Peter Hancock
	email = peter.hancock@ocado.com
[color]
    diff=auto
    status=auto
[core]
    editor = vi
    excludesfile = ~/.gitignore
    autocrlf = input
[alias]
    # Local aliases
    # create
    new = !git init && git commit --allow-empty -m init
    co = checkout

    # read
    st = status
    br = branch --sort=-committerdate
    brname = rev-parse --abbrev-ref HEAD
    brsort = branch --sort=committerdate
    brsortrev = branch --sort=-committerdate
    graphviz = "!f() { echo 'digraph git {' ; git log --pretty='format:  %h -> { %p }' \"$@\" | sed 's/[0-9a-f][0-9a-f]*/\"&\"/g' ; echo '}'; }; f"
    df = diff
    lg = log --graph --pretty=format:'%Cred%h%Creset -%C(yellow)%d%Creset %s %Cgreen(%cr) %C(bold blue)<%an>%Creset' --abbrev-commit --date=relative
    l = !git lg -n 10
    who = shortlog -s --
    logtree = log --graph --pretty=format:'%h%n' --abbrev-commit
    merged = "!git branch --merged | grep  -v '\\*\\|master\\|staging'"
    brs = log --oneline --decorate --all --graph --simplify-by-decoration
    tabs = grep -n  '        '

    # update
    ci = commit
    ca = commit --amend --no-edit
    cp = cherry-pick

    # delete
    clean-merged = "!git merged | xargs -n 1 git branch -d"
    cln = clean -fd

    # Remote aliases

    # delete
    prune-all = !git remote | xargs -n 1 git remote prune

[diff]
	tool = kdiff3
[merge]
    tool = kdiff3
